<!--<h1>YOYOW</h1>-->
<!--<div id="users">-->

<!--</div>-->
<!--<div id="messages">-->

<!--</div>-->

<!--<form action="" id="loginForm">-->
    <!--<input type="text" name="login" id="username" placeholder="Username"/>-->
    <!--<input type="password" name="password" id="password" placeholder="Password"/>-->

    <!--<input type="submit" value="Envoyer"/>-->
<!--</form>-->

<!--<form action="" id="msgForm">-->
    <!--<input type="text" placeholder="Tappez votre message" id="newMsg"/>-->
    <!--<input type="submit"/>-->
<!--</form>-->

<!--<div id="status">-->
<!--</div>-->

